body {
	font-size: 16px;
	font-family: Calibri, Cambria, Helvetica;
	background-color: darkslategrey;
	
}

#container {
	width: 800px;
	margin: 20px auto 40px;
	padding: 40px;
	background-image: linear-gradient(to right, tan, beige);
	
}

#name {
	font-size: 40px;
	font-weight: bold;
	}

#email {
	font-size: 16px;
	float: right;
}

#contactinfo {
	position: inherit;
	justify-content: center;
}

#summaryinfo {
	font-style: italic;
	font-size: 20px;
}

.date {
	float: right;
	font-weight: bold;
	font-style: italic;
}

h3 {
	border-bottom: 2px dotted black;
}

h2 {
	text-decoration: underline;
}
