body {
	font-size: 16px;
	font-family: Calibri, Cambria, Helvetica;

}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#name {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#content-summarycontent {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;

	font-style: italic;
	font-size: 20px;
}

#content-professionalheader {
	font-size: 20px;
}

#content-educationheader {
	font-size: 20px;
}

.date {
	float: right;
}

h3 {
	border-bottom: 1px solid black;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
